@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  overflow-x: hidden;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(247, 245, 245);
  font-family: "Montserrat", sans-serif;
}

.header {
  font-size: 30px;
  font-weight: bold;
  margin: 30px 0px;
}

form {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

Table {
  margin-bottom: 20px;
  background-color: #fff;
}

.display-json {
  min-width: 30%;
  margin: 40px 0px;
  padding: 20px 80px;
  border: 1px solid #000;
  border-radius: 10px;
  background-color: #fff;
}

@media (max-width: 800px) {
  .header {
    font-size: 26px;
  }

  .table-content {
    width: 80vw;
  }
}

@media (max-width: 500px) {
  .header {
    font-size: 20px;
  }

  .table-content {
    width: 90vw;
  }
  .display-json {
    padding: 20px 60px;
  }
}
